/* Global Elements */

html, body {
  height: 100%;
  margin: 0%
}

main {
  flex:1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #e2f9ff;
}

p {
  color: #0C2131;
}

/* Navigation Element's Styling */

h1 {
  font-weight: bold;
}

.nav-logoform h1 {
  margin: 0 0;
}

.nav-logoform p {
  margin: .5rem 0 0 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 4rem 8rem;
}

.nav-bar-menu li {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  color: #0C2131;
}

.current-page {
  font-weight: bold;
}

a:link, a:visited {
  text-decoration: none;
  color: #102C42;
}

a:hover {
  color: #79ADDC;
}

a:active {
  color: #FFC09F;
}

.eddy-link:hover {
  color: #102C42;
}

.maker:hover {
  color: red;
  transform: translate(0px,30px);

}


.nav-bar-menu li:first-child {
  margin-right: 2rem;
}

/* Footer Element's Styling */

footer {
  background-color: #0C2131;
}

.footer-styling {
  margin: 1rem 8rem;
  display: flex;
  justify-content: space-between;
}

.social-media-links {
  color: white;
  margin: .5rem 0 .5rem 0;
}

.footer-styling p {
  color: #E9EBEC;
}

.social-media-links a {
  color:  #596065;
}

.social-media-links a:hover {
  color:  #E9EBEC;
}

.social-media-links a:first-child {
  margin-right: 10px;
}

/* Main */

main {
    margin: 5rem 8rem;
}

.about-structure {
  display: flex;
  justify-content: space-around;
}

/* Project Tiles*/

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.project-tile p {
  text-align: center;
}

/* About me */

img[src="images/portrait.jpg"] {
  align-self: center;
  width: 40%;
}

a[href="https://www.valhallasandwiches.com/"] {
  color: purple;
}

a[href="https://www.valhallasandwiches.com/"]:hover {
  color: red;
}

.bio {
  width: 50%;
  align-self: center;
}

/* Project Pages */

.project-pages-main {
    margin: 3rem 8rem;
}

.project-atf-blurb img {
  width: 100%;
}

.project-atf-blurb h2{
  margin: .83em auto;
  text-align: center;
  width: 60%;
}

.project-atf-blurb p{
  margin: auto;
  text-align: left;
  width: 60%;
}

hr {
  margin-top: 2em;
  border: 0px;
  width: 75%;
  border-bottom: 2px dashed #adcfd8;
}

.project-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;
}

.project-list li:nth-child(even)::before{
  color: #2387a9;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1px;
}

.project-list li:nth-child(odd)::before{
  color: #31c3f4;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1px;
}

.image-row {
  display: flex;
  justify-content: center;
}

.image-row img:nth-child(odd){
  background-color: #31c3f4;
}

.image-row img:nth-child(even){
  background-color: #2387a9;
}

.image-row img {
  width: 10%;
  margin: 2rem;
  padding: 10px;
}
