/* Global Elements */

html, body {
  height: 100%;
  margin: 0%
}

main {
  flex:1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #FCF5C7;
}

p {
  color: #0C2131;
}

/* Navigation Element's Styling */

h1 {
  font-weight: bold;
}

.nav-logoform h1 {
  margin: 0 0;
}

.nav-logoform p {
  margin: .5rem 0 0 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 5rem 8rem;
}

.nav-bar-menu li {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  color: #0C2131;
}

.current-page {
  font-weight: bold;
}

a:link, a:visited {
  text-decoration: none;
  color: #102C42;
}

a:hover {
  color: #79ADDC;
}

a:active {
  color: #FFC09F;
}

.nav-bar-menu li:first-child {
  margin-right: 2rem;
}

/* Footer Element's Styling */

footer {
  background-color: #0C2131;
}

.footer-styling {
  margin: 1rem 8rem;
  display: flex;
  justify-content: space-between;
}

.social-media-links {
  color: white;
  margin: .5rem 0 .5rem 0;
}

.footer-styling p {
  color: #E9EBEC;
}

.social-media-links a {
  color:  #596065;
}

.social-media-links a:hover {
  color:  #E9EBEC;
}

.social-media-links a:first-child {
  margin-right: 10px;
}

/* Main */

main {
    margin: 5rem 8rem;
}

.about-structure {
  display: flex;
  justify-content: space-around;
}

/* Project Tiles*/

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.project-tile p {
  text-align: center;
}

/* About me */

img[src="images/portrait.jpg"] {
  align-self: center;
  width: 40%;
}

a[href="https://www.valhallasandwiches.com/"] {
  color: purple;
}

a[href="https://www.valhallasandwiches.com/"]:hover {
  color: red;
}

.bio {
  width: 50%;
  align-self: center;
}
